* {
  padding: 0;
  margin: 0;
}

.ant-input-group-addon .ant-btn {
  background-color: #393e46 !important;
}

.Post-Page-Cancel-Btn {
  background-color: #dc434a !important;
  color: white;
  font-weight: 500;
}

.Post-Page-Share-Btn {
  background-color: #4267b2 !important;
  color: white !important;
  font-weight: 500;
}